<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Baking Contest User</title>
</head>
<body>
    <h1>Baking Contest User Information</h1>
    <form method="post" action="/Add_Baking_Contest_User.html">
        <div>Name</div>
        <input type="text" name="name">

        <div>Age</div>
        <input type="number" name="age">

        <div>Phone Number</div>
        <input type="text" name="phone">

        <div>Security Level</div>
        <input type="number" name="security">

        <div>Login Password</div>
        <input type="password" name="password"></input>
        <button type="submit">Submit</button>
    </form>
</body>
</html>