<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Baking Contest Entry</title>
</head>
<body>
    <h1>Baking Contest Entry Information</h1>
    <form method="post" action="/Add_Baking_Contest_Entry.html">
        <div>Name of Baking Item</div>
        <input type="text" name="BakingItem">

        <div>Number of Excellent Votes</div>
        <input type="number" name="ExcellentVotes">

        <div>Number of Ok Votes</div>
        <input type="number" name="OkVotes">

        <div>Number of Bad Votes</div>
        <input type="number" name="BadVotes"><br>

        <button type="submit">submit</button>
    </form>
</body>
</html>